*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.name {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 12px;
}

.imgPok {
  width: 80px;
  display: block;
  pointer-events: none;
}
.displayPokemon {
  width: 650px;
  padding: 0 10px;
}

.moves,
.listOfPokemons {
  height: 100vh;
}
.listOfPokemons {
  overflow: auto;
  width: 257px;
  display: flex;
  flex-wrap: wrap;
  min-width: 120px;
}
.header {
  margin: auto;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}
.header p {
  font-size: 28px;
  margin-bottom: 10px;
}
.divTypes {
  display: flex;
  flex-direction: row;
}
.typeDesign:not(:first-child) {
  margin-left: 10px;
}
.typeDesign {
  padding: 1px 10px 1px 10px;
  border-radius: 8px;
}

.stats span,
.description span {
  font-weight: bold;
}

.description,
.stat {
  margin: 10px 0 10px 0;
}
.description {
  text-align: justify;
}
.bar {
  height: 25px;
  width: 200px;
  background-color: rgb(209, 204, 192);
}
.bar,
.fillBar {
  border-radius: 30px;
}
.fillBar {
  height: inherit;
  line-height: 1.9;
  padding-left: 5px;
  font-size: 13px;
  color: white;
}
.divStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.moves {
  width: 337px;
  /* height: 700px; */
  overflow: auto;
}
.content {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.moves .movesTitle {
  background: orange;
  display: block;
  padding: 10px 0px 10px 0;
  font-size: 20px;
  text-shadow: 2px 1px 1px #000;
  color: #fff;
}
.move {
  margin: 10px 0 10px 0;
  height: 60px;
  border-bottom: 2px solid orange;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
}
.move .titleBold {
  font-weight: bold;
}
.moveType {
  margin-right: 5px;
  font-size: 14px;
}
.moveInfoBox {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.typesList {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  color: #fff;
  text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.827);
}
.abilityMainContainer span {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.abilitiesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* list-style-type: disclosure-closed; */
}
.ability p {
  color: black;
  margin-right: 20px;
  border-radius: 8px;
}
.ability {
  color: rgb(238, 82, 83);
  margin-left: 20px;
}
@media (max-width: 1280px) {
  .listOfPokemons {
    width: 128.5px;
  }
}
